* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FCFCFC;
}

.list-reset {
    list-style: none;
}

.link-reset,
.nav-category a,
.exclusive a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header {
    background-color: #002056;
    padding: 17px 0;
}

header .container {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header img {
    max-width: 170px;
    margin-right: 20px;
}

header form {
    flex: 1;
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 3px 0 0 3px;
}

.search-input::placeholder {
    color: rgb(39, 36, 36);
    font-size: 14px;
}

.search-button {
    background-color: #f17d21;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 3px 3px 0;
    color: white;
}

.search-button svg {
    width: 20px;
    height: 20px;
}

header ul {
    display: flex;
    gap: 35px;
    align-items: center;
}

header ul li {
    padding: 0 10px;
}

.cart {
    display: flex;
    align-items: center;
}

.cart a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
}

.nav-category {
    display: flex;
    gap: 30px;
    padding: 20px 0;
    align-items: center;
    font-size: 15px;
}

.nav-category li {
    display: flex;
    align-items: center;
}

.nav-category a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow-icon {
    width: 12px;
    height: 8px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
}

main .container,
.exclusive h2 {
    margin-top: 70px;
}

.categories h2,
.exclusive h2 {
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 30px;
}

.categories ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.categories li {
    text-align: center;
    width: 16.6666667%;
}

.categories a {
    display: block;
    width: 100%;
}

.categories img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
}

.categories p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
}

.exclusive h2 {
    margin-bottom: 20px;
}

.exclusive ul {
    display: flex;
    list-style: none;
}

.exclusive li {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 16.666667%;
    padding: 20px;
}

.exclusive img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 6px;
}

li .brand {
    font-size: 12px;
    color: #3a2a2f;
    margin-bottom: 6px;
}

li .model {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.model:hover {
    color: #002056;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 20px 0;
}

.price-comparison {
    display: flex;
    flex-direction: column;
}

.price-now {
    font-size: 19px;
}

.price-before {
    text-decoration: line-through;
    color: gray;
    font-size: 15px;
}

.price-difference {
    color: red;
    font-size: 15px;
    font-weight: 500;
}

.services ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 60px;
    padding-bottom: 30px;
}

.services li {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.services img {
    max-width: 30px;
    height: auto;
}

.services-text {
    width: 270px;
}

.services-text h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

.services-text p,
.services-text h4 {
    font-size: 14px;
}

footer {
    background-color: #333232;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 14px;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1400px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}