* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    background-color: #0D1117;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 17px 30px;
    background-color: #25292E;
    font-size: 14px;
}

.header-start {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-nav-list,
.footer-nav-list {
    display: flex;
    list-style: none;
    gap: 18px; 
}

.header-nav-link,
.auth-item,
.main-nav-item,
.text-container a,
.dev-title-container .card-subtitle,
.name,
.repo-link,
.dev-footer .link,
.footer-nav-link {
    text-decoration: none;
    color: inherit;
}

.nav-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('assets/icons/nav-item-icon.png') center no-repeat;
    background-size: contain;
    margin-left: 3px;
}

.header-end {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 470px;
}

.search-container {
    flex-grow: 1;
    flex-shrink: 10000;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input {
    width: 100%;
    border: 1px solid #8A95A3;
    background-color: #25292E;
    padding: 8px 31px; /* Adjust padding to prevent overlap */
    border-radius: 6px;
    font-size: 14px;
    color: #ffffff;
}

.search-input::placeholder {
    color: #b3b9c2;
}

/* Left: Search Icon */
.search-icon {
    position: absolute;
    left: 7px;
    width: 18px;
    height: 18px;
    background: url('assets/icons/search-bar-icon.png') no-repeat center;
    background-size: contain;
}

/* Right: Slash Icon */
.slash-icon {
    position: absolute;
    right: 7px;
    width: 20px;
    height: 20px;
    background: url('assets/icons/search-bar-slash-icon.png') no-repeat center;
    background-size: contain;
}

.auth-list {
    display: flex;
    gap: 8px;
}

.btn-outline-light {
    color: inherit;
    padding: 8px 15px;
    border: 1px solid #E1EAF1;
    border-radius: 6px;
}

.btn-no-outline-light {
    color: inherit;
    padding: 8px 15px;
}

.shadow {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.main-nav-container,
.footer {
    display: flex;
    max-width: 1012px;
    justify-content: center;
    margin: 0 auto;
    font-size: 14px;
}

.main-nav-item {
    padding: 16px 0;
    margin-right: 24px;
}

.selected-item {
    font-weight: 600;
    color: #F0F6FC;
    border-bottom: 2px solid #1074E7;
}

.main-nav-item:hover {
    border-bottom: 2px solid #9198A1;
    color: #f6f8fa;
}

.content-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.main-container {
    width: 50%;
}

.main-container {
    padding: 24px 16px;
}

.popular-title {
    font-weight: 600;
    font-size: 20px;
}

.card-border {
    border: 1px solid #3d444d;
    border-radius: 7px;
}

.popular-card {
    border: 0.914px solid #3d444d;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.popular-img {
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.text-container {
    border-top: 0.914px solid #3d444d;
    padding: 16px; 
    word-wrap: break-word;
}

.card-subtitle {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-logo {
    width: 16px;
    height: 16px;
    background: url('assets/icons/card-logo.png');
}

.text-container .title {
    color: #4493f8;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.description {
    font-size: 14px;
    line-height: 1.5;
    padding-right: 3px;
    margin: 8px 0;
}

.collection-recommendation-card {
    padding: 16px;
}

.collection-recommendation-card .text-container {
    border: none;
}

.text-container .link,
.dev-footer .link {
    color: #4493f8;
    font-size: 14px;
}

.octicon {
    vertical-align: text-bottom;
}

.img-text-container {
    display: flex;
}

.img-placeholder {
    width: 131px;
    height: 131px;
    background-color: #101E2F;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 5px 10px 0;
}

.trending-card {
    width: 25%;
}

.dev-title-container,
.dev-footer {
    padding: 20px 16px;
    background-color: #151b23;
}

.dev-card {
    border: 0.914px solid #3d444d;
    border-radius: 7px;
}

.dev-title-container .card-subtitle {
    color: inherit;
    font-size: 14px;
    margin: 0;
}

.dev-icon {
    width: 16px;
    height: 16px;
    background: url('assets/icons/dev-icon.png') center no-repeat;
}

.dev-item,
.dev-footer {
    padding: 16px;
    border-top: 0.914px solid #3d444d;
}

.dev-content {
    display: flex;
}

.avatar-position {
    padding: 8px;
    width: 25%;
}

.avatar-user {
    border-radius: 50%;
    height: auto;
    width: 100%;
    vertical-align: middle;
}

.dev-details {
    padding: 0 8px;
    width: 75%;
}

.name-username {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.name {
    font-weight: 600;
}

.username {
    font-weight: 400;
}

.repo-link {
    display: flex;
    gap: 8px;
    align-items: center;
}

.repo-icon {
    width: 16px;
    height: 16px;
    background: url('assets/icons/repo-icon.png') center no-repeat;
}

.dev-footer {
    background-color: inherit;
}

.repo-link,
.dev-footer .link {
    font-size: 12px;
}

.footer {
    padding: 64px 16px 40px 16px;
    align-items: center;
    gap: 15px;
    font-size: 12px;
}

.text-container .title:hover,
.text-container .link:hover,
.name:hover,
.dev-footer .link:hover,
.footer-nav-list .footer-nav-link:hover {
    color: #4493f8;
    text-decoration: underline;
}

.dev-title-container .card-subtitle:hover,
.repo-link:hover {
    color: inherit;
    text-decoration: underline;
}

.muted-text,
.repo-link:hover {
    color: #9198a1;
}

.primary-text {
    color: #4493f8;
}

.auth-item:hover {
    opacity: 0.8;
}